In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('train.csv')

In [3]:
test=pd.read_csv('test.csv')

In [4]:
print('训练数据:',train.shape,'测试数据:',test.shape)

训练数据: (891, 12) 测试数据: (418, 11)

In [5]:
full=train.append(test,ignore_index=True)
print('合并数据:',full.shape)

合并数据: (1309, 12)

/Users/mac/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [6]:
full.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [7]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [8]:
full.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

In [9]:
full['Age']=full['Age'].fillna(full['Age'].mean())
full['Fare']=full['Fare'].fillna(full['Fare'].mean())

In [10]:
# 登船港口 Embarked 查看里面的数据长啥样
# S=英国南安普顿 C=法国瑟堡市 Q=昆士兰

In [11]:
full['Embarked'].head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [12]:
from collections import Counter

In [13]:
Counter(full['Embarked'])

Counter({'S': 914, 'C': 270, 'Q': 123, nan: 2})

In [14]:
full['Embarked']=full['Embarked'].fillna('S')

In [15]:
full['Cabin'].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

In [16]:
full['Cabin']=full['Cabin'].fillna('U')

In [17]:
# 特征提取
# map 函数对series每个数据应用自定义的函数计算

In [18]:
sex_mapDict={'male':1,'female':0}

In [19]:
sex=full['Sex'].map(sex_mapDict)

In [20]:
sex.head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [21]:
full['Embarked'].head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [22]:
embarkedDf=pd.DataFrame()

In [23]:
embarkedDf=pd.get_dummies(full['Embarked'],prefix='Embarked')
embarkedDf.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [24]:
pclassDf=pd.DataFrame()

In [25]:
pclassDf=pd.get_dummies(full['Pclass'],prefix='Pclass')
pclassDf.head()

   Pclass_1  Pclass_2  Pclass_3
0         0         0         1
1         1         0         0
2         0         0         1
3         1         0         0
4         0         0         1

In [26]:
full['Name'].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [27]:
name1='Braund, Mr. Owen Harris'
str1=name1.split(',')[1]
str1

' Mr. Owen Harris'

In [28]:
str2=str1.split('.')[0]
str2

' Mr'

In [29]:
# strip 用于移除字符串头尾制定的字符 默认空格
str3=str2.strip()
str3

'Mr'

In [30]:
def getTitle(name):
    str1=name.split(',')[1]
    str2=str1.split('.')[0]
    str3=str2.strip()
    return str3

In [31]:
titleDF=pd.DataFrame()

In [32]:
titleDF['Title']=full['Name'].map(getTitle)
titleDF.head()

  Title
0    Mr
1   Mrs
2  Miss
3   Mrs
4    Mr

In [33]:
# 名字中头衔字符串与定义头衔类别的映射关系

In [34]:
title_mapDict={
    'Capt':'Officer',
    'Col':'Officer',
    'Major':'Officer',
    'Jonkheer':'Royalty',
    'Don':'Royalty',
    'Sir':'Royalty',
    'Dr':'Officer',
    'Rev':'Officer',
    'the Countess':'Royalty',
    'Dona':'Royalty',
    'Mme':'Mrs',
    'Mlle':'Miss',
    'Ms':'Mrs',
    'Mr':'Mr',
    'Mrs':'Mrs',
    'Miss':'Miss',
    'Master':'Master',
    'Lady':'Royalty'
}

In [35]:
titleDF['Title']=titleDF['Title'].map(title_mapDict)

In [36]:
titleDF=pd.get_dummies(titleDF['Title'])
titleDF.head()

   Master  Miss  Mr  Mrs  Officer  Royalty
0       0     0   1    0        0        0
1       0     0   0    1        0        0
2       0     1   0    0        0        0
3       0     0   0    1        0        0
4       0     0   1    0        0        0

In [37]:
full['Cabin'].head()

0       U
1     C85
2       U
3    C123
4       U
Name: Cabin, dtype: object

In [38]:
# 匿名函数语法 lambda 参数1，参数2：函数体
sum =lambda a,b:a+b
print(sum(10,20))

30

In [39]:
cabinDf=pd.DataFrame()

In [40]:
full['Cabin']=full['Cabin'].map(lambda c:c[0])

In [41]:
cabinDf=pd.get_dummies(full['Cabin'],prefix='Cabin')
cabinDf.head()

,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1

In [42]:
familyDf=pd.DataFrame()

In [43]:
'''
家庭人数=同代直系亲属+不同代直系亲属+乘客自己
'''

'\n家庭人数=同代直系亲属+不同代直系亲属+乘客自己\n'

In [44]:
familyDf['FamilySize']=full['Parch']+full['SibSp']+1

In [45]:
#家庭类别 1 小家庭 2-4 中等家庭 5 大家庭 条件判断

In [46]:
familyDf['Family_single']=familyDf['FamilySize'].map(lambda s:1 if s==1 else 0)
familyDf['Family_small']=familyDf['FamilySize'].map(lambda s:1 if 2<=s<=4 else 0)
familyDf['Family_large']=familyDf['FamilySize'].map(lambda s:1 if 5<=s else 0)

In [47]:
familyDf.head()

   FamilySize  Family_single  Family_small  Family_large
0           2              0             1             0
1           2              0             1             0
2           1              1             0             0
3           2              0             1             0
4           1              1             0             0

In [48]:
#添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
full = pd.concat([full,familyDf],axis=1)
full=pd.concat([full,sex],axis=1)
full.drop('Sex',axis=1,inplace=True)

#添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
full = pd.concat([full,titleDF],axis=1)

#删掉姓名这一列
full.drop('Name',axis=1,inplace=True)

#添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
full = pd.concat([full,pclassDf],axis=1)

#删掉客舱等级（Pclass）这一列
full.drop('Pclass',axis=1,inplace=True)

#添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
full = pd.concat([full,embarkedDf],axis=1)

'''
因为已经使用登船港口(Embarked)进行了one-hot编码产生了它的虚拟变量（dummy variables）
所以这里把登船港口(Embarked)删掉
'''
full.drop('Embarked',axis=1,inplace=True)

In [49]:
corrDf=full.corr()
corrDf

,Age,Fare,Parch,PassengerId,SibSp,Survived,FamilySize,Family_single,Family_small,Family_large,...,Mr,Mrs,Officer,Royalty,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
Age,1.000000,0.171521,-0.130872,0.025731,-0.190747,-0.070323,-0.196996,0.116675,-0.038189,-0.161210,...,0.165476,0.198091,0.162818,0.059466,0.362587,-0.014193,-0.302093,0.076179,-0.012718,-0.059153
Fare,0.171521,1.000000,0.221522,0.031416,0.160224,0.257307,0.226465,-0.274826,0.197281,0.170853,...,-0.192192,0.139235,0.028696,0.026214,0.599956,-0.121372,-0.419616,0.286241,-0.130054,-0.169894
Parch,-0.130872,0.221522,1.000000,0.008942,0.373587,0.081629,0.792296,-0.549022,0.248532,0.624627,...,-0.304780,0.213491,-0.032631,-0.030197,-0.013033,-0.010057,0.019521,-0.008635,-0.100943,0.071881
PassengerId,0.025731,0.031416,0.008942,1.000000,-0.055224,-0.005007,-0.031437,0.028546,0.002975,-0.063415,...,0.014116,0.033299,0.002231,0.004400,0.026495,0.022714,-0.041544,0.048101,0.011585,-0.049836
SibSp,-0.190747,0.160224,0.373587,-0.055224,1.000000,-0.035322,0.861952,-0.591077,0.253590,0.699681,...,-0.243104,0.061643,-0.013813,-0.010787,-0.034256,-0.052419,0.072610,-0.048396,-0.048678,0.073709
Survived,-0.070323,0.257307,0.081629,-0.005007,-0.035322,1.000000,0.016639,-0.203367,0.279855,-0.125147,...,-0.549199,0.344935,-0.031316,0.033391,0.285904,0.093349,-0.322308,0.168240,0.003650,-0.149683
FamilySize,-0.196996,0.226465,0.792296,-0.031437,0.861952,0.016639,1.000000,-0.688864,0.302640,0.801623,...,-0.326487,0.157233,-0.026921,-0.023600,-0.029656,-0.039976,0.058430,-0.036553,-0.087190,0.087771
Family_single,0.116675,-0.274826,-0.549022,0.028546,-0.591077,-0.203367,-0.688864,1.000000,-0.873398,-0.318944,...,0.386262,-0.354649,0.013303,0.008761,-0.126551,-0.035075,0.138250,-0.107874,0.127214,0.014246
Family_small,-0.038189,0.197281,0.248532,0.002975,0.253590,0.279855,0.302640,-0.873398,1.000000,-0.183007,...,-0.300872,0.361247,0.003966,-0.000073,0.165965,0.097270,-0.223338,0.159594,-0.122491,-0.062909
Family_large,-0.161210,0.170853,0.624627,-0.063415,0.699681,-0.125147,0.801623,-0.318944,-0.183007,1.000000,...,-0.194207,0.012893,-0.034572,-0.017542,-0.067523,-0.118495,0.155560,-0.092825,-0.018423,0.093671
Master,-0.363923,0.011596,0.253482,0.002254,0.329171,0.085221,0.355061,-0.265355,0.120166,0.301809,...,-0.258902,-0.093887,-0.029567,-0.015002,-0.084504,-0.016933,0.086998,-0.014172,-0.009091,0.018297
Miss,-0.254146,0.092051,0.066473,-0.050027,0.077564,0.332795,0.087350,-0.023890,-0.018085,0.083422,...,-0.585809,-0.212435,-0.066899,-0.033945,-0.011733,-0.025440,0.031007,-0.014351,0.198804,-0.113886
Mr,0.165476,-0.192192,-0.304780,0.014116,-0.243104,-0.549199,-0.326487,0.386262,-0.300872,-0.194207,...,1.000000,-0.497310,-0.156611,-0.079466,-0.099725,-0.038595,0.117925,-0.065538,-0.080224,0.108924
Mrs,0.198091,0.139235,0.213491,0.033299,0.061643,0.344935,0.157233,-0.354649,0.361247,0.012893,...,-0.497310,1.000000,-0.056793,-0.028817,0.141102,0.071103,-0.180375,0.098379,-0.100374,-0.022950
Officer,0.162818,0.028696,-0.032631,0.002231,-0.013813,-0.031316,-0.026921,0.013303,0.003966,-0.034572,...,-0.156611,-0.056793,1.000000,-0.009075,0.098788,0.073070,-0.145375,0.003678,-0.003212,-0.001202
Royalty,0.059466,0.026214,-0.030197,0.004400,-0.010787,0.033391,-0.023600,0.008761,-0.000073,-0.017542,...,-0.079466,-0.028817,-0.009075,1.000000,0.118561,-0.035156,-0.073765,0.077213,-0.021853,-0.054250
Pclass_1,0.362587,0.599956,-0.013033,0.026495,-0.034256,0.285904,-0.029656,-0.126551,0.165965,-0.067523,...,-0.099725,0.141102,0.098788,0.118561,1.000000,-0.296526,-0.622172,0.325722,-0.166101,-0.181800
Pclass_2,-0.014193,-0.121372,-0.010057,0.022714,-0.052419,0.093349,-0.039976,-0.035075,0.097270,-0.118495,...,-0.038595,0.071103,0.073070,-0.035156,-0.296526,1.000000,-0.563180,-0.134675,-0.121973,0.196532
Pclass_3,-0.302093,-0.419616,0.019521,-0.041544,0.072610,-0.322308,0.058430,0.138250,-0.223338,0.155560,...,0.117925,-0.180375,-0.145375,-0.073765,-0.622172,-0.563180,1.000000,-0.171430,0.243706,-0.003805
Embarked_C,0.076179,0.286241,-0.008635,0.048101,-0.048396,0.168240,-0.036553,-0.107874,0.159594,-0.092825,...,-0.065538,0.098379,0.003678,0.077213,0.325722,-0.134675,-0.171430,1.000000,-0.164166,-0.778262
Embarked_Q,-0.012718,-0.130054,-0.100943,0.011585,-0.048678,0.003650,-0.087190,0.127214,-0.122491,-0.018423,...,-0.080224,-0.100374,-0.003212,-0.021853,-0.166101,-0.121973,0.243706,-0.164166,1.000000,-0.491656
Embarked_S,-0.059153,-0.169894,0.071881,-0.049836,0.073709,-0.149683,0.087771,0.014246,-0.062909,0.093671,...,0.108924,-0.022950,-0.001202,-0.054250,-0.181800,0.196532,-0.003805,-0.778262,-0.491656,1.000000

In [50]:
# 查看survived 与其他的相关系数

In [51]:
corrDf['Survived'].sort_values(ascending=False)

Survived         1.000000
Mrs              0.344935
Miss             0.332795
Pclass_1         0.285904
Family_small     0.279855
Fare             0.257307
Embarked_C       0.168240
Pclass_2         0.093349
Master           0.085221
Parch            0.081629
Royalty          0.033391
FamilySize       0.016639
Embarked_Q       0.003650
PassengerId     -0.005007
Officer         -0.031316
SibSp           -0.035322
Age             -0.070323
Family_large    -0.125147
Embarked_S      -0.149683
Family_single   -0.203367
Pclass_3        -0.322308
Mr              -0.549199
Name: Survived, dtype: float64

In [52]:
# 根据各个特征与生成情况（Survived）的相关系数大小，我们选择了这几个特征作为模型的输入：
# 头衔（前面所在的数据集titleDf）、客舱等级（pclassDf）、家庭大小（familyDf）、船票价格（Fare）、船舱号（cabinDf）、登船港口（embarkedDf）、性别（Sex）

In [53]:
#特征选择
full_X = pd.concat( [titleDF,#头衔
                     pclassDf,#客舱等级
                     familyDf,#家庭大小
                     full['Fare'],#船票价格
                     cabinDf,#船舱号
                     embarkedDf,#登船港口
                     sex#性别
                    ] , axis=1 )
full_X.head()

,Master,Miss,Mr,Mrs,Officer,Royalty,Pclass_1,Pclass_2,Pclass_3,FamilySize,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Sex
0,0,0,1,0,0,0,0,0,1,2,...,0,0,0,0,0,1,0,0,1,1
1,0,0,0,1,0,0,1,0,0,2,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,1,0,0,1,0,0,2,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,1,1

In [54]:
sourceRaw=891
source_X=full_X.loc[0:sourceRaw-1,:]
source_y=full.loc[0:sourceRaw-1,'Survived']

In [55]:
pred_X=full_X.loc[sourceRaw:,:]

In [56]:
import sklearn as sk 
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [57]:
train_X, test_X, train_y, test_y = train_test_split(source_X ,
                                                    source_y,
                                                    train_size=.8)

/Users/mac/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [58]:
#输出数据集大小
print ('原始数据集特征：',source_X.shape, 
       '训练数据集特征：',train_X.shape ,
      '测试数据集特征：',test_X.shape)

print ('原始数据集标签：',source_y.shape, 
       '训练数据集标签：',train_y.shape ,
      '测试数据集标签：',test_y.shape)

原始数据集特征： (891, 27) 训练数据集特征： (712, 27) 测试数据集特征： (179, 27)
原始数据集标签： (891,) 训练数据集标签： (712,) 测试数据集标签： (179,)

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
model=LogisticRegression()

In [61]:
model.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [62]:
model.score(test_X,test_y)

0.8547486033519553

In [63]:
pred_Y = model.predict(pred_X)

In [64]:
pred_Y = pred_Y.astype(int)

In [65]:
passenger_id = full.loc[sourceRaw:,'PassengerId']

In [66]:
predDf = pd.DataFrame({'PassengerId':passenger_id,'Survived':pred_Y})

In [67]:
predDf.shape

(418, 2)

In [68]:
predDf.head()

     PassengerId  Survived
891          892         0
892          893         1
893          894         0
894          895         0
895          896         1

In [69]:
predDf.to_csv('titanic_pred.csv',index=False)